<html ng-app="countdownApp">
    <head>
        <!-- Angular material -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.20/angular-material.min.css"></script>

        <!-- App components -->
        <link rel="stylesheet" type="text/css" href="site.css"></script>
        <link rel="stylesheet" type="text/css" href="app/components/dateDisplay/dateDisplay.css"></script>
        <link rel="stylesheet" type="text/css" href="app/components/questionDisplay/questionDisplay.css"></script>
        <link rel="stylesheet" type="text/css" href="app/components/newYear/newYear.css"></script>
    </head>
    <body ng-controller="MainController as ctrl" layout="column">

        <date-display current-image-number="$ctrl.currentImageNumber" show-answer="$ctrl.showAnswer" show-new-year="$ctrl.showNewYear"></date-display>
        <question-display ng-if="!$ctrl.showNewYear" number="$ctrl.currentImageNumber" show-answer="$ctrl.showAnswer"></question-display>
        <new-year ng-if="$ctrl.showNewYear"></new-year>

        <!-- AngularJS.js -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-aria.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-messages.min.js"></script>

        <!-- AngularJS Material.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.20/angular-material.js"></script>
        
        <!-- Moment.js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr-ca.js"></script>

        <!-- Lodash -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>

        <script type="text/javascript" src="app/app.js"></script>
        
        <!-- App components -->
        <script type="text/javascript" src="app/components/dateDisplay/dateDisplay.js"></script>
        <script type="text/javascript" src="app/components/questionDisplay/questionDisplay.js"></script>
        <script type="text/javascript" src="app/components/newYear/newYear.js"></script>
    </body>
</html>